.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.header .address {
  margin-left: auto;
}

img {
  display: block;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header .container {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team .container {
  padding: 60px 0;
}

.clients .container {
  padding: 0 15px;
}

.footer .container {
  padding: 0 15px;
}

.portfolio .container {
  padding: 60px 0;
}

@media screen and (min-width: 480px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header .container {
    height: 80px;
    padding: 0 15px;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
    padding: 0 15px;
  }
  .header .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .services .container {
    margin-left: auto;
    margin-right: auto;
  }
  .team .container {
    padding: 94px 0;
  }
  .footer .container {
    display: flex;
  }
  .portfolio .container {
    padding: 94px 0;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo-item {
  color: #2196f3;
}

.footer .logo {
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .header .logo {
    padding-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
    margin-right: 90px;
  }
  .footer .logo {
    display: block;
    margin-right: 0;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.footer .social-list-svg {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .social-list-link {
    margin-bottom: 30px;
  }
  .social-list-link:hover, .social-list-link:focus {
    background-color: #2196f3;
  }
  .footer .social-list-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer .social-list-link:hover, .footer .social-list-link:focus {
    background-color: #2196f3;
  }
  .social-list-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-link:hover .social-list-svg {
    fill: #ffffff;
  }
  .social-list-link:focus .social-list-svg {
    fill: #ffffff;
  }
}

.modal-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
}

.modal .modal-btn {
  align-self: flex-start;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 31px;
}

.footer .modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .modal-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/footer/send.svg);
}

@media screen and (min-width: 1200px) {
  .modal-btn {
    transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-btn:hover, .modal-btn:focus {
    border-radius: 0px;
    background-color: #188ce8;
  }
  .modal .modal-btn {
    margin-top: 30px;
  }
}

.btn-burger-menu {
  display: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list-item {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  display: block;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
}

.active-portfolio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  display: block;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
}

.navigation-list-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
}

.navigation-list-link.active {
  color: #2196f3;
}

.navigation-list-link.active-portfolio {
  color: #2196f3;
}

.address-list {
  display: flex;
}

.address-link {
  display: flex;
  flex-direction: row-reverse;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .btn-burger-menu {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .nav-container {
    position: absolute;
    top: 0%;
    left: 0%;
    min-width: 480px;
    width: 100%;
    height: 393px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    text-align: center;
    z-index: 50;
    margin-bottom: 60px;
    margin-top: 60px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: 2s;
  }
  .nav-container.is-open {
    transform: translate(0);
    opacity: 1;
    visibility: visible;
  }
  .is-open.btn-burger-menu {
    display: inline-block;
    position: relative;
    z-index: 51;
  }
  .icon-close {
    display: none;
  }
  .icon-menu:hover {
    fill: #2196f3;
    cursor: pointer;
  }
  .is-open.btn-burger-menu .icon-close {
    display: block;
  }
  .is-open.btn-burger-menu .icon-close:hover {
    fill: #2196f3;
    cursor: pointer;
  }
  .is-open.btn-burger-menu .icon-menu {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 0;
  }
  .navigation-list-item {
    position: relative;
  }
  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .active::after {
    content: "";
    position: absolute;
    left: 20%;
    bottom: -8px;
    display: inline-block;
    height: 4px;
    width: 61px;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .active-portfolio::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: -8px;
    display: inline-block;
    height: 4px;
    width: 100px;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .navigation-list-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list-link:hover, .navigation-list-link:focus {
    color: #2196f3;
  }
  .navigation-list-link.active {
    color: #2196f3;
  }
  .navigation-list-link.active-portfolio {
    color: #2196f3;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }
  .address-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .address-link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .address-link-svg {
    width: 16px;
    height: 16px;
    fill: #757575;
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-container {
    display: flex;
  }
  .navigation-list {
    display: flex;
  }
  .navigation-list-link {
    font-size: 14px;
    line-height: 1.143;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .address-item {
    margin-bottom: 10px;
    margin-left: 84px;
  }
  .address-link {
    font-size: 12px;
    line-height: 1.167;
  }
  .address-link-svg {
    width: 14px;
    height: 14px;
    fill: #757575;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-right: 295px;
  }
  .navigation-list {
    display: flex;
  }
  .nav-container {
    display: flex;
    justify-content: left;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 40px;
  }
  .navigation-list-link {
    font-size: 14px;
    line-height: 1.143;
  }
  .address-link {
    font-size: 14px;
    line-height: 1.143;
    margin-right: 20px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover, .address-link:focus {
    color: #2196f3;
  }
  .address-link-svg {
    width: 16px;
    height: 16px;
    fill: #757575;
    margin-right: 10px;
  }
  .address-link:hover .address-link-svg {
    fill: #2196f3;
  }
}

.filter-list {
  display: flex;
  padding-left: 15px;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list-title:hover, .filter-list-title:focus {
  background-color: #2196f3;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .filter-list {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 40px;
  }
  .filter-list-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filter-list {
    justify-content: center;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    justify-content: center;
    padding-bottom: 50px;
  }
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
}

.categories-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.categories-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.categories-list-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.categories-list-content {
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  background: #ffffff;
}

.categories-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 20px;
}

.categories-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.categories-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.categories-list-item:hover .overlay {
  transform: translateY(0%);
}

.categories-list-link:focus .overlay {
  transform: translateY(0%);
}

@media screen and (max-width: 767px) {
  .categories-list {
    width: 450px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .categories-list-img {
    height: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .categories-list {
    justify-content: start;
  }
  .categories-list-item {
    width: 354px;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .categories-list {
    justify-content: center;
  }
  .categories-list-item {
    width: 370px;
  }
  .categories-list-item:not(:nth-child(3n+3)) {
    margin-right: 30px;
  }
  .categories-list-item:not(:nth-child(3n+3))-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
  .categories-list-img {
    height: 100%;
  }
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
  text-align: center;
}

.contact-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.contact-list-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contact-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.join-name {
  font-style: normal;
  font-weight: 700;
  width: 146px;
  height: 16px;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-form-input {
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
}

.subscribe-form-input:focus {
  color: #ffffff;
}

@media screen and (max-width: 479px) {
  .address {
    margin-bottom: 60px;
  }
  .contact-list {
    margin-top: 20px;
  }
  .join-name {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .subscribe {
    margin-top: 60px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-list-item {
    margin-bottom: 60px;
  }
  .join {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .subscribe-name {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .join {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 165px;
  }
  .join-name {
    margin-top: 5px;
  }
  .subscribe-name {
    margin-top: 60px;
  }
  .subscribe-form-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
  .contact-list-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .join {
    margin-left: 70px;
    padding-top: 12px;
  }
  .join-name {
    display: flex;
    width: 145px;
  }
  .subscribe {
    align-items: initial;
    margin-left: 93px;
    padding-top: 12px;
  }
  .subscribe-name {
    text-align: left;
  }
  .subscribe-form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .subscribe-form-input {
    width: 358px;
    margin-right: 12px;
  }
}
/*# sourceMappingURL=portfolio.css.map */