@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
.services {
  padding-bottom: 94px;
}
.services-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.services-list-item {
  position: relative;
}
.services-list-item:not(:last-child) {
  margin-right: 30px;
}
.services-list-img {
  width: 370px;
  height: 294px;
}
.overlay-name {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
background-color: rgba(47, 48, 58, 0.8);
font-weight: 700;
font-size: 14px;
line-height: 1.143;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: $secondary-color;
padding-top: 27px;
padding-bottom: 27px;
}
}